@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --cell-size: 10rem;
    --mark-size: calc(var(--cell-size) * 0.9);
  }

  .box {
    @apply border-slate-900 dark:border-slate-300 border cursor-pointer;
  }

  .box:first-child,
  .box:nth-child(2),
  .box:nth-child(3) {
    border-top: none;
  }

  .box:nth-child(3n + 1) {
    border-left: none;
  }

  .box:nth-child(3n + 3) {
    border-right: none;
  }

  .box:last-child,
  .box:nth-child(8),
  .box:nth-child(7) {
    border-bottom: none;
  }

  .box.cross,
  .box.circle {
    cursor: auto;
  }

  .box.cross::before,
  .box.cross::after,
  .box.circle::before {
    @apply bg-white;
  }

  .grid-layout.cross .box:not(.cross):not(.circle):hover::before,
  .grid-layout.cross .box:not(.cross):not(.circle):hover::after,
  .grid-layout.circle .box:not(.cross):not(.circle):hover::before {
    @apply bg-slate-500;
  }

  .box.cross::before,
  .box.cross::after,
  .grid-layout.cross .box:not(.cross):not(.circle):hover::before,
  .grid-layout.cross .box:not(.cross):not(.circle):hover::after {
    content: "";
    position: absolute;
    width: calc(var(--mark-size) * 0.15);
    height: var(--mark-size);
  }

  .box.cross::before,
  .grid-layout.cross .box:not(.cross):not(.circle):hover::before {
    transform: rotate(45deg);
  }

  .box.cross::after,
  .grid-layout.cross .box:not(.cross):not(.circle):hover::after {
    transform: rotate(-45deg);
  }

  .box.circle::before,
  .box.circle::after,
  .grid-layout.circle .box:not(.cross):not(.circle):hover::before,
  .grid-layout.circle .box:not(.cross):not(.circle):hover::after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }

  .box.circle::before,
  .grid-layout.circle .box:not(.cross):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
  }

  .box.circle::after,
  .grid-layout.circle .box:not(.cross):not(.circle):hover::after {
    width: calc(var(--mark-size) * 0.7);
    height: calc(var(--mark-size) * 0.7);
    @apply bg-slate-900;
  }
}
